@import url("./blocks/header.css");
@import url("./blocks/modal.css");
@import url("./blocks/tasks.css");
@import url("./blocks/footer.css");

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: rgba(255, 255, 255, 0.938);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  padding: 16px;
}
