.header {
  max-width: 1350px;
  width: 100%;

  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 24px;
  border-bottom: 3px solid #000000;
}

.header__task-title {
  color: black;
  margin: 0 auto;
}

.header__filter-btns {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
