.task__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.task__container-counter {
  width: 100%;
  max-width: 100px;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.task {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
}
.task__info-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
